<!DOCTYPE html>

 <div style="float:right; padding:2%; margin-right:9%; position:fixed;" id="dash" class=" pull-left col-md-4">
     <a href="#" class="btn btn-success btn-sm" id="imprim">Imprimer le cv</a><br /><br />
     <a href="#" class="btn btn-warning btn-sm">Modifier le cv</a> <br /><br />
     <a href="#" class="btn btn-danger btn-sm" style="color:white;">Un probleme</a>
     <br /><br /><br /><br /><br />
     <a href="#" class="btn btn-primary btn-sm">Accuil <span class="fas fa-home"></span></a>
 </div>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Mon CV le plus recent</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="../css/HarvestField.css" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style type="text/css">
  body{ 
     background: gray;
   }
</style>
</head>
<body id="cv">
<div id="sectionAImprimer">
<div id="wrap">
  <div id="header">
    <h1 id="logo-text"><a href="http://all-free-download.com/free-website-templates/"> <span>{% block nomPrenom %} {% endblock %}</span></a></h1>
    <h2 id="slogan">
      
    </h2>
    
  </div>
  <div  id="nav" style="background: rgb(3,92,4); color: white; font-size: 1em;">
    <div id="light-brown-line"></div>
    
      <span style="text-align:center;">
        <center>
           {% block entete %}{% endblock %}
        </center>
      </span>  
    
  </div>
  <div id="content-wrap">
    <div id="sidebar">
      <br />
      {% block photos %}<img src="../images/81277091_542340293021226_2234359703842848768_n.jpg" width="200px" height="150px">{% endblock %}
      <h1>Competences</h1>
      <ul class="sidemenu" style="width:100%;">
         {% block competence %}{% endblock %}
      </ul>
      <h1>Formation</h1>
      <ul class="sidemenu">
        {% block formation %}{% endblock %}
      </ul>
      
    </div>
    <div id="main"> <a name="TemplateInfo"></a>
      <h1>Profil professionnel</h1>
      <p>
         {% block profilProf %}{% endblock %}
      </p>
      <h1>Parcours Professionnel</h1>
      
        <p>
              {% block parcoursProf %} {% endblock %}
        </p>
      <br />
    </div>



  </div>
  <div id="column-wrap" style="text-align:center;">
    &copy; cver
  </div>

</div>
 
  
  </body>
  <script type="text/javascript">

       function imprimer(divName){
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
       }


    var button = document.getElementById('imprim');

     button.onclick = function(){
       //imprimer('sectionAImprimer');
       document.getElementById('dash').innerHTML = '';
       var cv = document.getElementById('cv');
       cv.style.fontSize='1em';
       cv.style.margin='0px';
       cv.style.padding='0px';

       window.print();
     };

  </script>
</html>
